@use 'base/variables' as v;
@use 'base/mixins' as m;

footer{
    background-color: rgb(37, 37, 37);
    padding: 3rem 0rem;

    .footer-contenido{
        @include m.contenedor;
    }

    p{
        text-align: center;
        color: white;
    }

    img{
        height: 5rem;
        width: auto;
        justify-self: center;
        border-radius: 10%;
        &:hover{
            width: 8rem;
            height: auto;
        }
    }
    a{
        width: 5rem;
    }
}

.contacto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 95%;
    margin-top: 12rem;
    margin-left: auto;
    margin-right: auto;
    h2{
        margin-bottom: 2rem;
    }
    @include m.tablet{
        margin-top: 5rem;
    }
}

.boton{
    background-color: var(v.$amarillo);
    padding: 1rem 3rem;
    margin-top: 3rem;
    font-size: 2rem;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: .5rem;
    width: 90%;
    text-align: center;
    border: none;
}

@media (min-width: 768px) {
    .boton {
        width: auto;
    }
}

.boton:hover {
    background-color: v.$amarillo;
    cursor: pointer;
}

/** Utilidades **/
.w-sm-100 {
    width: 100%;
}
@media (min-width: 768px) {
    .w-sm-100 {
        width: auto;
    }
}
.flex {
    display: flex;
}
.alinear-derecha {
    justify-content: flex-end;
}

h2 {
    color: v.$amarillo;
    font-size: 3rem;
    margin: 0;
}
h3 {
    font-size: 2rem;
}
h1,h2,h3 {
    text-align: center;
}

.formulario {
    background-color: rgb(70, 69, 69);
    width: min( 60rem, 100% );
    margin: 0 auto;
    padding: 2rem;
    border-radius: .5rem;
    gap: 1rem;
    color: rgb(241, 241, 241);
}

.formulario fieldset {
    border: none;
}

.formulario legend {
    text-align: center;
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 1rem;
    color: var(--color-formulario-letra);
}

@media (min-width: 768px){
    .contenedor-campos {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 1rem;
        grid-template-rows: auto auto 20rem;
    }

    .campo:nth-child(3),
    .campo:nth-child(4) {
        grid-column: 1 / 3;
        margin-top: 1rem;
    }
}

.campo {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    font-size: 2rem;
    color: var(--color-terciario);
}

.campo input{
    margin-top: 0.5rem;
}
.input-text {
    width: 100%;
    border: none;
    padding: 1rem;
    border-radius: .5rem;
}

.campo textarea{
    height: 20rem;
    max-width: 100%;
}

.boton-derecha {
    display: flex;
    justify-content: flex-end;
}

.footer {
    text-align: center;
}