@forward 'header';
@forward 'searchbar';
@forward 'navbar';
@forward 'contenido-principal';
@forward 'footer';
@forward 'producto';
@forward 'subtitulo';
@forward 'carrito';
@forward 'mensajes';