@use 'base/variables' as v;
@use 'base/mixins' as m;

#mensajeError{
    font-size: 1.4rem;
    color: rgb(250, 22, 22);
    display: none;
}
#mensajeErrorCompra{
    font-size: 1.4rem;
    color: rgb(250, 22, 22);
    display: none;
}

#compra{
    font-size: 2rem;
    color: rgb(255, 255, 255);
    background-color: green;
    position: fixed;
    z-index: 1000;
    left: 0;
    right: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    display: none;
}