@use 'base/variables' as v;
@use 'base/mixins' as m;

.search-bar{
    background-color: rgb(37, 37, 37);
    padding: 2rem 0;
    border-bottom: 1rem solid v.$amarillo;
}

.search-grid {
  @include m.contenedor;
  @include m.grid(2, 0);
  max-width: 80%;

  .barra {
        grid-area: 2/1/2/3;
        margin-top: 1rem;
        width: 100%;
        padding: .8rem 0;
        background-color: rgb(70, 69, 69);
        justify-self: center;
        @include m.grid(2, 1rem);
        grid-template-columns: 10fr 1fr;
        justify-content: space-between;

        svg {
            margin-right: 2rem;
            cursor: pointer;
        }

        input {
            border: none;
            background-color: rgb(70, 69, 69);
            color: white;
            margin-left: 1rem;
            width: 100%;
            font-size: 1.5rem;
        }
        input[type="text"]:focus {
            outline: none; /* Elimina el remarcado */
        }

    }

    .iconos-search{
        justify-self: end;
        position: relative;
    }

    @include m.tablet {
        @include m.grid(3, 0);
        
        .barra {
            margin-top: 0;
            width: 100%;
            display: flex;
            grid-area: 1/2/1/3;
            svg {
                margin-right: 2rem;
            }
        }
  
        .iconos-search {
            justify-self: end;
        }
  
        svg {
            justify-self: unset;
        }
  
        .iconos-search,
        svg {
            align-self: center;
        }
  
        .iconos-search{
            grid-area: 1/3/1/4;
        }
    }
}

#punto-rojo {
    position: absolute;
    top: 0;
    right: 0;
    width: 14px;
    height: 14px;
    background-color: red;
    border-radius: 50%;
    display: none;
    p{
        font-size: 1rem;
        justify-self: center;
        color: white;
    }
}

