/* Globales */
:root {
    --color-primario: #1b263b;
    --color-secundario: #e0e1dd;
    --color-terciario: #0d1b2a;
    --color-formulario: #868484;
    --color-formulario-letra: #ffc400;
}
html {
    font-size: 62.5%;
    box-sizing: border-box;
    scroll-snap-type: y mandatory;
}

/** Scroll Snap**/
@media (min-width: 390px){
    .servicios,
    .navegacion-principal,
    .formulario {
        scroll-snap-align: center;
        scroll-snap-stop: always;
    }

}
*, *:before, *:after {
box-sizing: inherit;
}


body{
    font-size: 16px;
    font-family: "Krub", sans-serif;
    font-weight: 700;
    background-image: linear-gradient(to top,var(--color-secundario) 0%, #ffffff 100%);
}

.contenedor {
    max-width: 120rem;
    margin-top: 0rem;
    margin-right: auto;
    margin-bottom: 0rem;
    margin-left: auto;
}

.boton{
    background-color: var(--color-primario);
    color: var(--color-secundario);
    padding: 1rem 3rem;
    margin-top: 3rem;
    font-size: 2rem;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: .5rem;
    width: 90%;
    text-align: center;
    border: none;
}

@media (min-width: 768px) {
    .boton {
        width: auto;
    }
}

.boton:hover {
    cursor: pointer;
}
.sombra {
    -webkit-box-shadow: 0px 6px 13px -1px rgba(158,158,158,0.72); /* -webkit- es para agregarle soporte */
    -moz-box-shadow: 0px 6px 13px -1px rgba(158,158,158,0.72);
    box-shadow: 0px 6px 13px -1px rgba(158,158,158,0.72);
    background-color: #ffffff;
    padding: 2rem;
    border-radius: 1rem;
}

/** Utilidades **/
.w-sm-100 {
    width: 100%;
}
@media (min-width: 768px) {
    .w-sm-100 {
        width: auto;
    }
}
.flex {
    display: flex;
}
.alinear-derecha {
    justify-content: flex-end;
}

/* Tipografia */
h1 {
    font-size: 5rem;
    color: var(--color-primario);
    text-transform: uppercase;
}
h2 {
    color: var(--color-primario);
    font-size: 3rem;
}
h3 {
    font-size: 2rem;
}
h1,h2,h3 {
    text-align: center;
}

h1 span{
    font-size: 4rem;
}

/* Navegacion Principal */
.nav-bg {
    background-color: var(--color-primario);
}


.navegacion-principal {
    display: flex;
    flex-direction: column;
    text-align: center;
}


@media (min-width: 768px) { 
    .navegacion-principal {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}

.navegacion-principal a {
    color: var(--color-secundario);
    text-decoration: none;
    font-size: 2 rem;
    font-weight: 700;
    padding: 1rem;
}

.navegacion-principal a:hover {
    background-color: var(--color-secundario);
    color: var(--color-primario); 
}

/* Hero */
.hero {
    background-image: url(../img/hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 45rem;
    position: relative;
    margin-bottom: 2rem;
}

.contenido-hero {
    position: absolute;
    background-color: rgba(0, 0, 0, .5); /* vieja sintaxis */
    background-color: rgb( 0 0 0 / 50% ); /* nueva */
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contenido-hero h2, .contenido-hero p {
    color: var(--color-secundario);
}

/* Servicios */
@media (min-width: 768px){
    .servicios{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 1rem;
    }
}

.servicio {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.servicio h3 {
    color: var(--color-terciario);
    font-weight: normal;
}

.servicio p {
    line-height: 2; /* espaciado entre lineas */
    text-align: center;
}

.servicio .iconos {
    width: 15rem;
    height: 15rem;
    background-color: var(--color-primario);
    border-radius: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

/* Formulario */
.formulario {
    background-color: var(--color-formulario);
    width: min( 60rem, 100% ); /* Utiliza el valor mas pequenio y nos ahorra el media quarie*/
    margin: 0 auto; /* Centramos asi porque su padre no tiene un display flex sino block */
    padding: 2rem;
    border-radius: .5rem;
    gap: 1rem;
}

.formulario fieldset {
    border: none;
}

.formulario legend {
    text-align: center;
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 1rem;
    color: var(--color-formulario-letra);
}

@media (min-width: 768px){
    .contenedor-campos {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 1rem;
        grid-template-rows: auto auto 20rem;
    }

    .campo:nth-child(3),
    .campo:nth-child(4) {
        grid-column: 1 / 3;
        margin-top: 1rem;
    }
}

.campo {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    font-size: 2rem;
    color: var(--color-terciario);
}

.campo input{
    margin-top: 0.5rem;
}
.input-text {
    width: 100%;
    border: none;
    padding: 1rem;
    border-radius: .5rem;
}

.campo textarea{
    height: 20rem;
}

.boton-derecha {
    display: flex;
    justify-content: flex-end;
}

/* Footer */
.footer {
    text-align: center;
}